@tailwind base;
@tailwind components;
@tailwind utilities;

/* For the gradient button */
@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* Add font declarations */
body{
  font-family: var(--font-inter);
}

.hedvig {
  font-family: var(--font-hedvig);
}

/* Giving all headings a default font-style */
h1{
  font-family: var(--font-hedvig);
}

/* For the custom mouse */
.cursor {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;
}

.cursor-inner {
  width: 8px;
  height: 8px;
  background-color: #53C1E1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cursor-outer {
  width: 32px;
  height: 32px;
  border: 2px solid #53C1E1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, border 0.2s ease-in-out;
}

.cursor-inner.click,
.cursor-outer.click {
  transform: scale(0.8);
}

/* For the cards */
.card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}